<div class="sidebar">
    <app-sidebar [isSidebarOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-sidebar>
</div>


<div [ngClass]="{'expanded': isSidebarOpen, 'collapsed': !isSidebarOpen}" class="main-container">
    <header class="header">
        <app-header [isSidebarOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-header>
    </header>
    <nav class="navigation">
        <app-navigation></app-navigation>
    </nav>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>