<div class="logo-maxi" *ngIf="isSidebarOpen">
    Kurumsal Uygulama Operasyonları
</div>
<div class="logo-mini" *ngIf="!isSidebarOpen">KUO</div>


<div class="sidenav" [class.open]="isSidebarOpen" [class.closed]="!isSidebarOpen">

    <li class="sidenav-item" *ngFor="let data of navData">
        <a class="sidenav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [title]="!isSidebarOpen ? data.label : ''">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="isSidebarOpen">{{data.label}}</span>
        </a>
    </li>
</div>